<footer class="page-footer font-small bg-warning pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-light justify-content-center">Me siga nas redes sociais</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/" target="_blank" class="iconeFace"><img src="https://cdn-icons-png.flaticon.com/512/145/145802.png" width="50px" height="50px" alt="icone facebook" class="img-fluid"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/" target="_blank" class="iconeInsta"><img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" width="50px" height="50px" alt="icone instagram" class="img-fluid"></a>
                    </li>
                    <li>
                        <a href="https://github.com/" target="_blank" class="iconeGit"><img src="https://cdn-icons-png.flaticon.com/512/25/25657.png" width="50px" height="50px" alt="icone instagram" class="img-fluid"></a>
                    </li>
                    <li>
                        <a href="https://linkedin.com/" target="_blank" class="iconeLinkedIn"><img src="https://cdn-icons-png.flaticon.com/512/145/145807.png" width="50px" height="50px" alt="icone instagram" class="img-fluid"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-secondary text-center py-3">
        <span class="text-light"> &copy; 2022 Copyright: Lilian C. Assunção</span>
    </div>
</footer>


