<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto d-flex align-items-center">
      <li class="nav-item active">
        <img src="https://i.imgur.com/amjae7K.jpg" alt="Imagem do user" width="100px" height="100px" class="img-fluid rounded-circle padding-left">
      </li>
      <li class="nav-item">
        <p class="m-0 font-weight-bold text-light fs-16 padding-left cursor p">Nome do usuário</p>        
      </li>
    </ul>
      <img src="https://cdn-icons-png.flaticon.com/512/1827/1827951.png" alt="icone lápis editor" width="15px" height="15px" class="img-fluid">
    <ul class="navbar-nav d-flex align-items-center sair"> 
      <li class="nav-item">
        <a class="m-0 font-weight-bold text-light fs-16 pdl">Sair</a>
      </li>
    </ul>
      <img src="https://cdn-icons.flaticon.com/png/512/2901/premium/2901194.png?token=exp=1646874675~hmac=271dd4e283be305a2980ee7f4ebc517f" alt="icone de saída" width="18px" height="18px" class="img-fluid">
  </div>
</nav>